:root {
    --status-bar-height: 32px;
}

#reactRoot {
    background-color: #474B4D;
}

.button-container {
    position: relative;
}

.bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: #2185d0;
    transition: height /*0.1s*/ linear;
}

.axis-container {
    position: relative;
}

.positive-axis-bar,
.negative-axis-bar {
    position: absolute;
    left: 0;
    width: 5px;
    background-color: #2185d0;
    transition: height /*0.1s*/ linear;
}

.positive-axis-bar {
    bottom: 50%;
}

.negative-axis-bar {
    top: 50%;
}

/* Deadzone switch color customize */
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
    background-color: orange;
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
    background-color: grey;
}

/* Status bar styling */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ui.segment.status-bar {
    height: var(--status-bar-height);
    padding: 0.3rem !important;
    text-align: left;
    position: fixed;
    bottom: 0;
    border-top: 3px double #737373;
    left: 0;
    right: 0;
    z-index: 10;
}

.status-bar-spacer {
    /* Note: this is specifically to ensure the statusbar doesn't hide page
       content, and should always match status-bar height. */
    height: var(--status-bar-height);
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
